<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webTest2.example.mapper.BoardMapper">
	<select id="selectBoardList" resultType="Board" parameterType="search">
		SELECT @ROWNUM := @ROWNUM -1 as ROWNUM,
				ta.b_id as bId,
				ta.b_title as bTitle,
				ta.b_content as bContent,
				ta.b_writer as bWriter,
				ta.b_datetime as bDateTime
	    FROM board ta,
	    	(select @rownum := (select count(*)-#{page}+1 from board ta)) tb
	    where 1=1
	    <if test='searchType == 1'>
	    	and (ta.b_title like concat('%', #{content}, '%') or ta.b_content like concat('%', #{content}, '%'))
	    </if>
	    <if test='searchType == 2'>
	    	and ta.b_title like concat('%', #{content}, '%')
	    </if>
	    <if test='searchType == 3'>
	    	and ta.b_content like concat('%', #{content}, '%')
	    </if>
	    <if test='searchType == 4'>
	    	and ta.b_writer like concat('%', #{content}, '%')
	    </if>
	  	order by ta.b_base desc, b_order asc
	    limit #{page}, 10
	</select>
	
	<insert id="writeBoard" parameterType="Board">
		insert into board (
			b_id,
			b_title,
			b_content,
			b_writer,
			b_order,
			b_base,
			b_group,
			u_id
		) values (
			#{bId},
			#{bTitle},
			#{bContent},
			#{bWriter},
			#{bOrder},
			#{bBase},
			#{bGroup},
			#{uId}
		)
	</insert>
	
	<select id="findBoard" resultType="Board">
		select 	b_id as bId,
				b_title as bTitle,
				b_content as bContent,
				b_writer as bWriter,
				b_datetime as bDateTime,
				b_order as bOrder,
				b_base as bBase,
				b_group as bGroup,
				u_id as uId
		from board
		where b_id = #{id}
	</select>
	
	<select id="getBoardCount" resultType="int">
		select count(*) as count
		from board
	</select>
	
	<update id="updateBase" parameterType="Board">
		update board
		set b_base = b_id
		where b_id = (select b_id FROM board WHERE b_base = 0)
	</update>
	
	<select id="getMaxOrder" resultType="int">
		select max(b_order)
		from board
		where b_base = #{id}
	</select>
	
	<insert id="addBoard" parameterType="Board">
		insert into board (
			b_title,
			b_content,
			b_writer,
			b_order,
			b_base,
			b_group,
			u_id
		) values (
			#{bTitle},
			#{bContent},
			#{bWriter},
			#{bOrder},
			#{bBase},
			#{bGroup},
			#{uId}
		)
	</insert>
	
	<delete id = "deleteBoard" parameterType = "board">
		delete from board
		where b_id = #{id}
	</delete>
	
	<update id = "editBoard" parameterType="board">
		update board
		set b_title=#{bTitle},
			b_content=#{bContent},
			b_datetime=#{bDateTime}
		where b_id = #{bId}
	</update>
	
	<select id = "lastBoard" resultType="int">
		select b_id
		from board
		order by b_id desc
		limit 1
	</select>
</mapper>

