<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webTest2.example.mapper.PlayerMapper">
	<select id="findPlayer" resultType="Player">
		select *
		from player
		where p_num = #{p_num}
	</select>	
	
	<select id="findPlayerName" parameterType="string" resultType="player">
		select *
		from player
		where p_name = #{name}
	</select>
	
	<insert id="writePlayer" parameterType="Player">
		insert into player (
			p_name,
			p_position,
			p_power,
			p_technique,
			p_physical,
			p_speed,
			p_attribute,
			p_tier,
			p_ace,
			p_active,
			p_passive1,
			p_passive2,
			p_passive3,
			p_thumb,
			p_full,
			p_stone1,
			p_stone2,
			p_stone3,
			p_date,
			p_coop,
			p_coop1,
			p_coop2,
			p_coop3,
			p_coop_count,
			p_coop_cool,
			p_coop_pre,
			p_r1,
			p_r2,
			p_r3,
			p_story,
			p_name_ace,
			p_name_a,
			p_name_p1,
			p_name_p2,
			p_name_p3,
			p_ill,
			p_cv
		) values (
			#{p_name},
			#{p_position},
			#{p_power},
			#{p_technique},
			#{p_physical},
			#{p_speed},
			#{p_attribute},
			#{p_tier},
			#{p_ace},
			#{p_active},
			#{p_passive1},
			#{p_passive2},
			#{p_passive3},
			#{p_thumb},
			#{p_full},
			#{p_stone1},
			#{p_stone2},
			#{p_stone3},
			#{p_date},
			#{p_coop},
			#{p_coop1},
			#{p_coop2},
			#{p_coop3},
			#{p_coop_count},
			#{p_coop_cool},
			#{p_coop_pre},
			#{p_r1},
			#{p_r2},
			#{p_r3},
			#{p_story},
			#{p_name_ace},
			#{p_name_a},
			#{p_name_p1},
			#{p_name_p2},
			#{p_name_p3},
			#{p_ill},
			#{p_cv}
		)
	</insert>
	
	<select id="searchPlayer" resultType="Player">
		select p_num,
				p_name,
				p_attribute,
				p_position,
				p_tier,
				p_thumb
		from player
		where 1=1
		<if test="content!=null and !content.equals('')">
			and (
				p_name like CONCAT('%',#{content},'%')
				or p_active like concat('%', #{content}, '%')
				or p_passive1 like CONCAT ('%', #{content}, '%')
				or p_passive2 like CONCAT ('%', #{content}, '%')
				or p_passive3 like CONCAT ('%', #{content}, '%')
			)
		</if>
		<if test="checkAttributes">
			and p_attribute in
			<foreach collection="attributes" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="checkPositions">
			and p_position in
			<foreach collection="positions" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="checkTiers">
			and p_tier in
			<foreach collection="tiers" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		order by p_num desc
		limit #{page}, 10
	</select>
	
	<select id="getPlayerCount" resultType="int" parameterType="search">
		select count(*) as count
		from player
		where 1=1
		<if test="content!=null and !content.equals('')">
			and (
				p_name like CONCAT('%',#{content},'%')
				or p_active like concat('%', #{content}, '%')
				or p_passive1 like CONCAT ('%', #{content}, '%')
				or p_passive2 like CONCAT ('%', #{content}, '%')
				or p_passive3 like CONCAT ('%', #{content}, '%')
			)
		</if>
		<if test="checkAttributes">
			and p_attribute in
			<foreach collection="attributes" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="checkPositions">
			and p_position in
			<foreach collection="positions" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="checkTiers">
			and p_tier in
			<foreach collection="tiers" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
	</select>
	
	<update id = "editPlayer" parameterType="player">
		update player
		set p_name = #{p_name},
			p_position = #{p_position},
			p_power = #{p_power},
			p_technique = 	#{p_technique},
			p_physical = #{p_physical},
			p_speed = #{p_speed},
			p_attribute = #{p_attribute},
			p_tier = #{p_tier},
			p_ace = #{p_ace},
			p_active = #{p_active},
			p_passive1 = #{p_passive1},
			p_passive2 = #{p_passive2},
			p_passive3 = #{p_passive3},
			p_full = #{p_full},
			p_thumb = #{p_thumb},
			p_stone1 = #{p_stone1},
			p_stone2 = #{p_stone2},
			p_stone3 = #{p_stone3},
			p_date = #{p_date},
			p_coop = #{p_coop},
			p_coop1 = #{p_coop1},
			p_coop2 = #{p_coop2},
			p_coop3 = #{p_coop3},
			p_r1 = #{p_r1},
			p_r2 = #{p_r2},
			p_r3 = #{p_r3},
			p_coop_count = #{p_coop_count},
			p_coop_cool = #{p_coop_cool},
			p_coop_pre = #{p_coop_pre},
			p_story = #{p_story},
			p_name_ace = #{p_name_ace},
			p_name_a = #{p_name_a},
			p_name_p1 = #{p_name_p1},
			p_name_p2 = #{p_name_p2},
			p_name_p3 = #{p_name_p3},
			p_ill = #{p_ill},
			p_cv = #{p_cv}
		where p_num=#{p_num}
	</update>
</mapper>