<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webTest2.example.mapper.PlayerMapper">
	<select id="getPlayerList" resultType="Player">
		SELECT *
	    FROM player
	    order by p_num desc
	</select>
	
	<select id="findPlayer" resultType="Player">
		select *
		from player
		where p_num = #{p_num}
	</select>
	
	<insert id="writePlayer" parameterType="Player">
		insert into player (
			p_name,
			p_position,
			p_power,
			p_technique,
			p_physical,
			p_speed,
			p_active,
			p_passive1,
			p_passive2,
			p_passive3,
			p_thumb,
			p_full,
			p_stone1,
			p_stone2,
			p_stone3,
			p_date,
			p_attribute,
			p_tier,
			p_story
		) values (
			#{p_name},
			#{p_position},
			#{p_power},
			#{p_technique},
			#{p_physical},
			#{p_speed},
			#{p_active},
			#{p_passive1},
			#{p_passive2},
			#{p_passive3},
			#{p_thumb},
			#{p_full},
			#{p_stone1},
			#{p_stone2},
			#{p_stone3},
			#{p_date},
			#{p_attribute},
			#{p_tier},
			#{p_story}
		)
	</insert>
</mapper>