<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webTest2.example.mapper.ReplyMapper">
	<select id="getReply" resultType="Reply">
		SELECT 	ta.r_id as rId,
				ta.r_content as rContent,
				ta.r_writer as rWriter,
				ta.r_datetime as rDateTime,
				ta.u_id as uId,
				ta.b_id as bId,
				ta.p_num as p_num,
				ta.s_num as s_num
		from reply ta,
			(select @rownum := (select count(*)-#{pageNum}+1 from reply ta where b_id=#{bId})) tb
		where 1=1
		<if test="bId > 0">
			and ta.b_id = #{bId}
		</if>
		<if test="p_num > 0">
			and ta.p_num = #{p_num}
		</if>
		<if test="s_num > 0">
			and ta.s_num = #{s_num}
		</if>
		order by ta.r_id
		limit #{pageNum}, 10
	</select>	
	
	<insert id="writeReply" parameterType="Reply">
		insert into reply (
			r_id,
			r_content,
			r_writer,
			b_id,
			u_id,
			p_num,
			s_num
		) values (
			#{rId},
			#{rContent},
			#{rWriter},
			#{bId},
			#{uId},
			#{p_num},
			#{s_num}
		)
	</insert>
	
	<delete id="deleteReply" parameterType="Reply">
		delete from reply
		where r_id = #{rId}
	</delete>
	
	<select id="findReply" resultType="Reply">
		select r_id as rId,
				r_content as rContent,
				r_writer as rWriter,
				r_datetime as rDateTime,
				u_id as uId,
				b_id as bId,
				p_num as p_num,
				s_num as s_num
		from reply
		where r_id=#{rId}
	</select>
	
	<update id="editReply" parameterType="Reply">
		update reply
		set r_content=#{rContent},
			r_datetime=#{rDateTime}
		where r_id=#{rId}
	</update>
	
	<delete id = "deleteAllReply" parameterType="int">
		delete from reply
		where b_id = #{bId}
	</delete>
	
	<select id="getReplyCount" parameterType="search" resultType="int">
		select count(*) as count
		from reply
		where 1=1
		<if test="bId > 0">
			and b_id = #{bId}
		</if>
		<if test="p_num > 0">
			and p_num = #{p_num}
		</if>
		<if test="s_num > 0">
			and s_num = #{s_num}
		</if>
	</select>
</mapper>

